<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Total Tickets</title>
</head>
<body>
<div class="container">
    <h1>Total Tickets Sold: <%= totalTickets %></h1>
    <a href="/generate-ticket">Generate Ticket</a>
</div>
</body>
</html>
