<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Your Ticket</title>
</head>
<body>
<div class="container">
    <h1>Access ticket details using QR code</h1>
    <img src="<%= qrCode %>" alt="QR Code">
    <p><a href="<%= ticketLink %>">Or follow this link</a></p>
</div>
</body>
</html>
